<!DOCTYPE html>
<!--
    Author: Dustin Gregerson
    Date: 9/16/22
    Description:

    Default layout for all the pages
-->
@{
    var username = Context.Session.GetString("userName");

}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Reset.css" />
    <link rel="stylesheet" href="~/css/UniLayOut.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
        @if(username==null||username.Equals("null")){
       <nav>
           <ul>
               <li>
                    <a asp-controller="Item" asp-action="List">
                       collection items
                   </a>
               </li>
               <li>
                    <a asp-controller="User" asp-action="Login">
                       login
                   </a>
               </li>
           </ul>
       </nav>
        }
        else{
       <nav>
           <ul>
                <li>
                    <a asp-controller="Item" asp-action="List">
                        collection items
                    </a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="Details">
                            @username
                    </a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="LogOut">
                       logOut
                    </a>
                </li>
           </ul>
       </nav>
       }
    <div>
        @RenderBody()
    </div>
</body>
</html>