@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to the collecters hub</h1>
<div>
    The collecters hub is a place were you can show off your collections to the world. wether that be old relics,
     stamps, rocks or tree leavs any collection you wish to post we will store the information and display it
    to anyone that wishes to see it.
</div>
<img alt="latest img added">

<div>
    *latest item description
</div>

