@model List<ItemsToUsersList>

<table class="table table-striped table-hover">
    <tr scope="row">
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Tag
        </th>
        <th>
            User Name
        </th>
    </tr>
        @foreach(var item in Model){
        <tr scope="row">
            <td>
                @item.name
            </td>
            <td>
                @item.description
            </td>
            <td>
                @item.tag
            </td>
            <td>
                @item.userName
            </td>
        </tr>
        }

</table>